<div class ="comments">
    {{#each this}}
    <div>
        <p class ="card-body2">
            <span class ="comment-author">{{this.author}}</span>
            <span class ="comment-date">{{this.date}}</span>
            <span class ="comment-content">{{this.content}}</span>
        </p>
    </div>
    {{/each}}
</div>