<div class ="card">
    <h2 class="card-header">Login</h2>
    <form class ="card-body login-form">
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control" id="username" name="username">
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" name="password">
            </div>
            <div class="form-group">
                <button class="btn btn-primary" type="submit">Login</button>
            </div>
    </form>
    <br>
    <a href="/signup">Don't have an account? Sign up here!</a>
</div>
<script src="/js/login.js"></script>
