<div class="card">
    <h2 class="card-header">Sign Up</h2>
    <form class="card-body signup-form">
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control" id="username" name="username">
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" name="email">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" name="password">
        </div>
        <div class="form-group">
            <button class="btn btn-primary" type="submit">Sign Up</button>
        </div>
    </form>
    <br>
    <a href="/login">Already have an account? Login here!</a>
</div>
<script src="/js/signup.js"></script>

{{! Path: public\js\signup.js }}